<div class="container">
  <header>
    <div class="logo">Agilify</div>
    <nav>
      <%= link_to "Sign in with Github", user_github_omniauth_authorize_path, class: 'sign-in' %>
    </nav>
  </header>
  <div class="description">
    This is a small compile standup app that based on
    the commits progress of the working day.<br /><br /><br />

    You can:<br />
    <ul>
      <li>Add your github project</li>
      <li>View a list of projects</li>
      <li>View a list of project commits</li>
    </ul>
    <br />
    The format of the list of commits the following:<br /><br />
    Yesterday (or on Friday) I commit messsage 1, commit message 2, .. and commit message n in project project 1.
    Also I commit messsage 1, commit message 2, .. and commit message m in project project 2. … And I commit messsage 1, commit message 2,
    .. and commit message k in project project P

  </div>
</div>
